/*
=========================================
Responsive Breakpoint
=========================================
*/
@media (max-width: 1599px) {


}

@media (max-width: 1399.98px) {
    


}

@media (max-width: 1199.98px) {
/* ====================
HeadER 
==================== */





}
@media (max-width:1199.98px){
    .main-menu ul li:not(:last-of-type){
        margin-right: 30px;
    }
	.hero-text p {
		margin: 1opx 0 20px;
		}
		.hero-text h1{
			font-size: 48px;
		}
		/* <!-- ===============
		 garden section
		============== --> */
		.garden-box{
			min-height: 274px;
		}
		/* <!-- ===============
		 garden section
		============== --> */
		.counter-item p:last-child{
			font-size: 16px;
		}
		/* footer section */
		.footer-content h3{
			font-size: 20px;
		}
}
@media (max-width: 991.98px) {
    nav{
        padding: 30px 0 !important;
	}
    .main-menu {
       border-top: 2px solid red;
       position: fixed;
       top: 0%;
       left: -100%;
       width: 50%;
       height: 100vh;
       height: 100%;
       background: #73b21a;
       padding: 30px;
       transition:all .5s linear;
       z-index: 999;
       -webkit-transition:all .5s linear;
       -moz-transition:all .5s linear;
       -ms-transition:all .5s linear;
       -o-transition:all .5s linear;
}
    .main-menu ul li:not(:last-of-type) {
        margin: 10px 0;
    }
    .open-menu {
        left: 0;
    }
	.hero-text h1 {
		font-size: 30px;
	}
	/* news section */
	.news-desc p:first-child {
		font-size: 18px;
	}
	.useful-links{
		margin-left: 40px;
	}
	
}
@media (max-width: 767.98px) {
.main-menu{
	width: 50%;
}
.hero-section{
	padding: 100px 0;
}
.hero-text h1{
	font-size: 41px;
	margin-bottom: 20px;
}
.garden-box{
	min-height: auto;
}
/* service section */
.service-icon{
	margin-right: 0px;
	margin-bottom: 20px;
}
.service-desc p{
	margin-top: 10px;
}
/* footer section */
.copyright-text{
	margin-bottom: 20px;
}
.btn-area button:not(:last-child){
margin-right: 23px;
}
}
@media (max-width: 575.98px) { 
	/* header section */
	.main-menu{
		width: 80%;
	}
	.search-box{
		min-width: 300px;
		padding: 10px !important;
	}
	/* header section */
	.hero-text h1{
		font-size: 37px;
}
	.lnd-content p:first-child{
	font-size: 18px;
	}
	.footer-content .useful-links{
		margin:0;
	}
	
}
@media (max-width: 510px){
	.list-content ul:first-child{
		margin-right: 25px;
	}

}
@media (max-width: 466.98px){
	.list-content{
		flex-direction: column;
	}
	.list-content ul:first-child{
		margin-right: 0;
	}
}