@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* ==================
Basic Setup
================= */
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
    font-style: normal;
    font-family: 'Open Sans 400';;
}
html{
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
ul,li{
    list-style: none;
}
a,span,label{
    display: inline-block;
}
a,
a:focus{
    text-decoration: none;
}
button,input,textarea,
button:focus,input:focus,textarea:focus{
    border: 0;
    outline: 0;
}
button{
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p,ol,ul{
    margin: 0;
    padding: 0;
}



/* ======================
  Reusable Component
=====================*/
.line-1, .line-2{
    border: 0;
    border-bottom: 2px solid #73b21a;
    opacity: 1;
    margin: auto;
    

    
}
.line-1{
width: 120px;
margin-bottom: 4px;
}
.line-2{
    width: 75px;
}
.p-width{
    max-width: 700px;
}
.btn-primary{
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    background: #73b21a;
    text-align: center;
    border-radius: 30px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: all .3s ease;
}
.btn-primary:hover{
    background: #4b7017;
}
/* <!-- ===============================
start header section
=============================== --> */

.signin-signup li:last-child a{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header-top{
    padding: 6px 0;
}
.main-menu ul li:last-of-type a{
  width: 35px;
  height: 35px;
  line-height: 35px;

}
.main-menu ul li:not(:last-of-type) a:hover{
    color: #73b21a;
}
/* <!-- ===============================
End header section
=============================== --> */


/* <!-- ===============================
start hero section
=============================== --> */
.hero-section{
    background:linear-gradient(rgba(51, 57, 69, 0.7), rgba(96,131,48,0.7)),  url(/assets/images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-text a{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
}
.hero-text a:hover{
    background-color: #73b21a;
    color: #fff
}
/* <!-- ===============================
end hero section
=============================== --> */
/* <!-- ===============================
garden  section start
=============================== --> */
.garden-row{
    margin-right: -15px;
    margin-left: -15px;
}
.garden-row > * {
   padding-right: 15px;
   padding-left: 15px;
   margin-bottom: 30px;
}
.garden-section a{
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);    
}
.garden-box{
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.garden-box:hover{
    background:#73b21a
}


/* <!-- ===============================
garden  section end
=============================== --> */







/* =================
  Font Color
================= */
.text-color-ff{
    color: #fff;
}
.text-color-33{
    color: #333;
}
.text-color-ff{
    color: #72b21a;
}
.text-color-73{
    color: #73b21a;
}
.text-color-66{
    color: #666;
}
.text-color-97{
    color: #979797;
}
.text-color-ff{
    color: #fff;
}
.text-color-ff{
    color: #fff;
}
/* =================
  font size
================= */
.font-size-55{
    font-size: 55px;
}
.font-size-35{
    font-size: 35px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}






/* =================
  backgroind Color
================= */
.bg-color-73{
    background-color:#73b21a ;
}
.bg-color-ff{
    background-color: #fff;
}
.bg-color-{
    background-color: #000;
}
.bg-color-4b{
    background-color:#4b7017 ;
}
.bg-color-40{
    background-color: #406E00;
}